build/
node_modules/
out/
static/
coverage/
TODO.txt
resources/images/.DS_Store
resources/.DS_Store
.env*
.DS_Store
config.json
.clinic/
CLAUDE.md
!.project/CLAUDE.md
.idea/

# Local configuration
config.json
resources/config.json
.env
