{
  "overrides": [
    {
      "files": ".husky/**",
      "options": {
        "plugins": []
      }
    },
    {
      "files": "Dockerfile",
      "options": {
        "plugins": ["@trivago/prettier-plugin-sort-imports"]
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-sh"]
}
