.container {
  display: flex;
  padding: 1rem;
  max-width: 540px !important;
  flex-direction: column;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container__row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (min-width: 768px) {
  .container__row {
    gap: 1rem;
  }
}

.container__row--equal > * {
  flex: 1 1 100%;
}
