:root {
  --theme: "light";
  --breakPoint-tablet: 800px;
  --breakPoint-Desktop: 1024px;
  --blur-md: 4px;
  --boxBackgroundColor: #111827cc;
  --fontColor: #202020;
  --fontColorLight: #fff;
  --primaryColor: #8b1a1a;
  --primaryColorHover: #6b1515;
  --primaryColorDisabled: linear-gradient(
    to right,
    rgba(139, 26, 26, 0.7),
    rgba(107, 21, 21, 0.7)
  );
  --secondaryColor: #27ae60;
  --secondaryColorHover: #1e8449;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --primaryColorDark: #8b1a1a;
  --primaryColorHoverDark: #6b1515;
  --primaryColorDisabledDark: rgba(139, 26, 26, 0.5);
  --secondaryColorDark: #27ae60;
  --secondaryColorHoverDark: #1e8449;
  --fontColorDark: #f3f4f6;
}
