:root {
  --theme: "light";
  --breakPoint-tablet: 800px;
  --breakPoint-Desktop: 1024px;
  --blur-md: 4px;
  --boxBackgroundColor: #111827cc;
  --fontColor: #202020;
  --fontColorLight: #fff;
  --primaryColor: #c62828;
  --primaryColorHover: #a12020;
  --primaryColorDisabled: linear-gradient(
    to right,
    rgb(179, 160, 160),
    rgb(153, 138, 138)
  );
  --secondaryColor: #388e3c;
  --secondaryColorHover: #2a6e30;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --primaryColorDark: #c62828;
  --primaryColorHoverDark: #a12020;
  --primaryColorDisabledDark: #b3a0a0;
  --secondaryColorDark: #388e3c;
  --secondaryColorHoverDark: #2a6e30;
  --fontColorDark: #f3f4f6;
}
